<nav class="menu">
  <ul>
    <li>
      <h4><a href="#">Dummy Menu</a></h4>
      <ul>
        <li><%= link_to "Dummy Option", "#" %></li>
        <li><%= link_to "Dummy Option", "#" %></li>
        <li><%= link_to "Dummy Option", "#" %></li>
      </ul>
    </li>
    <li>
      <h4><a href="#">Dummy Menu</a></h4>
      <ul>
        <li><%= link_to "Dummy Option", "#" %></li>
      </ul>
    </li>
    <li>
      <h4><%= link_to "Product Catalog", products_path %></h4>
    </li>
  </ul>
</nav>
