<!DOCTYPE html>
<html>
<head>
  <title>Fdtgroup</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id='main_wrap'>
    <div id='header_wrap'>
      <%= render :partial => 'layouts/header' %>
    </div>
    <div id='middle_wrap'>
      <%= render :partial => 'layouts/middle' %>
    </div>
    <div id='footer_wrap'>
      <%= render :partial => 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
